.chat{
    display: inline-block;
    padding-top: .5rem;
    position: fixed;
    bottom: 2rem;
    right: 6rem;
    border-radius: 1rem;
    z-index: 999999999999999999999999999999999999999999999 !important;

}

.chat img{
    width: 4.5rem;
}